$corDeFundo: #000;
$corTextoPrincipal: #fff;
$corTextoSecundario: #e50914;
$corDeFundoBotaoPrimario: #e50914;
$corDeFundoBotaoSecundario: #333;
$corDeFundoBotaoDark: #111;

$espacamento-grande: 64px;
$espacamento-medio: 32px;
$espacamento-pequeno: 16px;
